<div class = "main about-main">
 <div class="container">
    <div class="about">
      <h2>ABOUT stayhomeproject</h2>
      <div class="about-left">
        <p><img src ="about.png" alt="sample"></p>
        <div class= "about-left-caption">
         <h3>みんなのおうちでの過ごし方を見つけられるSNSサービスです。あなたの素敵な過ごし方をシェアしたり、新しい発見をしましょう。</h3>
        </div>
      </div>
      <div class="about-right">
        <a href="/signup"><img src="starticon.png" alt="icon"></a>
   
      </div>
   </div>
  </div>
</div>

