.about-main{
  background-color: rgba(255,244,197,0.7);
  width: 1440px;
}
.about h2{
  padding: 30px 0px 30px 30px;
  color: rgba(0,0,0,0.7);
  font-size: 30px;
}
.about-left{
  padding-top: 30px;
  padding-left: 300px;
  float: left;  
}
.about-left-caption{
  margin-top: 30px;
  width: 400px;
  background-color: white;
}
.about-left-caption h3{
color: #a6a6a6;
width: 300px;
padding:10px 0 10px 45px;
font-style: arial;
}
.about-right {
  float: left;
  padding-bottom: 150px;
}